#search {
    width: 30%;
    height: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: inline;
}

#search_bar {
    width: calc(100% - 90px);
    height: 40px;
    border-radius: 50px;
    background-color: rgb(38, 38, 38);
    font-size: 20px;
    color: white;
    border: solid rgb(73, 73, 73) 1px;
    background: url("Images/search.svg") no-repeat scroll 10px;
    background-size: 20px 20px;
    padding-left: 35px;
}

#search_bar:focus {
    outline: solid rgb(0, 150, 255) 1px;
}

#gem {
    width: 40px;
    height: 40px;
    position: absolute;
    left: calc(100% - 40px);
    border-radius: 50px;
    background-color: rgb(38, 38, 38);
    background: url("Images/search.svg") no-repeat scroll right;
    background-size: 20px 20px;
    background-position: calc(100% - 10px);
    border: solid rgb(73, 73, 73) 1px;
    color: white;
    padding-left: 10px;
}

#gem:focus {
    outline: solid rgb(0, 150, 255) 1px;
}

@keyframes fullGem {
    from {width: 40px; position: absolute; left: calc(100% - 40px);}
    to {width: calc(100% - 50px); position: absolute; left: 50px;}
}

@keyframes minSer {
    from {width: calc(100% - 90px)}
    to {width: 40px;}
}

@keyframes fullSer {
    from {width: 40px;}
    to {width: calc(100% - 90px);}
}

@keyframes minGem {
    from {width: 90%; position: absolute; left: 50px;}
    to {width: 40px; position: absolute; left: calc(100% - 40px);}
}

#inf {
    width:  120px;
    aspect-ratio: 2;
    background-image: linear-gradient(to right, rgb(42, 42, 200), rgb(72, 72, 255));
    -webkit-mask-image: url("Images/mask.png");
    mask-image: url("Images/mask.png");
    mask-size: 120px 60px;
}

body {
    background-color: rgb(30, 30, 30);
}