#search {
    width: 30%;
    height: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#search_bar {
    width: 90%;
    height: 30px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: rgb(38, 38, 38);
    color: white;
    border: solid rgb(73, 73, 73) 1px;
    padding-left: 10px;
}

#search_bar:focus {
    outline: solid rgb(0, 150, 255) 1px;
    width: 100%;
    position: relative;
    left: -10%;
    padding-left: 10%;
}

#search_ico {
    width: 20px;
    aspect-ratio: 1;
    position: absolute;
    transform: translate(-50%, -50%);
}

#search_button {
    width: 70px;
    aspect-ratio: 2;
    position: absolute;
    border: solid rgb(73, 73, 73) 1px;
    background-color: rgb(50, 50, 50);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

body {
    background-color: rgb(30, 30, 30);
}